* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.dashboard {
  width: 100%;
  background-color: #f8f9fa;
  height: auto;
  display: flex;
  border-radius: 30px;
}
.dashboard .left {
  width: 300px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(168, 143, 143, 0.15);
}
.dashboard .left .image {
  margin-top: 30px;
  width: 50%;
  height: 50px;
}
.dashboard .left .image img {
  width: 50%;
  object-fit: contain;
}
.dashboard .left .container {
  position: relative;
  bottom: 32%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dashboard .left .container a {
  width: 100%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 15px;
}
.dashboard .left .container .dash {
  background-color: lightgrey;
  width: 180px;
  color: rgb(1, 1, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.dashboard .left .container .dash .fa-house {
  background-color: black;
  color: white;
}
.dashboard .left .container a .fa-solid {
  margin-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.dashboard .left .container a .fa-dollar-sign {
  margin-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}
.dashboard .body {
  width: 1400px;
  height: auto;
}
.dashboard .body .header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard .body .header .first {
  margin-left: 10px;
  margin-top: 40px;
}
.dashboard .body .header .first p {
  width: 100%;
  margin-left: 30px;
  color: gray;
  font-size: 15px;
}
.dashboard .body .header .first p span {
  color: rgb(1, 1, 1);
  font-weight: 700;
}
.dashboard .body .header .right {
  margin-right: 5%;
  margin-top: 40px;
}
.dashboard .body .header .right .search {
  width: 230px;
  height: 39px;
  border-radius: 15px;
  background-color: #fff;
  color: rgb(1, 1, 1);
  padding-left: 30px;
  border: 5px grey;
}
.dashboard .body .header .right .bi-search {
  position: relative;
  right: 220px;
}
.dashboard .body .header .right a {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
}
.dashboard .body .header .right .fa-gear {
  margin-right: 20px;
}
.dashboard .body .main {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.dashboard .body .main .number {
  background-color: #fff;
  border-radius: 10px;
  width: 29%;
  height: 80px;
  margin-left: 30px;
}
.dashboard .body .main .number p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 15px;
  color: grey;
}
.dashboard .body .main .number .fa-seedling {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: black;
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.dashboard .body .main .number h3 {
  position: relative;
  margin-left: 10%;
  color: rgb(1, 1, 1);
  font-size: 18px;
  font-weight: 700;
  bottom: 50px;
}
.dashboard .body .main .number h3 span {
  font-size: 13px;
  color: limegreen;
}
.dashboard .body .main .user {
  background-color: #fff;
  border-radius: 10px;
  width: 29%;
  height: 80px;
}
.dashboard .body .main .user .fa-globe {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: black;
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.dashboard .body .main .user h3 {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  bottom: 50px;
  margin-left: 10%;
  color: rgb(1, 1, 1);
}
.dashboard .body .main .user h3 span {
  font-size: 13px;
  color: limegreen;
}
.dashboard .body .main .user p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 15px;
  color: grey;
}
.dashboard .body .main .plan {
  background-color: #fff;
  border-radius: 10px;
  width: 29%;
  height: 80px;
  margin-right: 20px;
}
.dashboard .body .main .plan .fa-clipboard-list {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: black;
  padding-top: 8px;
  color: #fff;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
}
.dashboard .body .main .plan p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 15px;
  color: grey;
}
.dashboard .body .main .plan .child {
  margin-left: 10%;
}
.dashboard .body .main .plan button {
  position: relative;
  bottom: 45px;
  margin-right: 10px;
  height: 22px;
  width: 70px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: black;
}
.dashboard .body .box {
  position: relative;
  width: 95%;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
}
.dashboard .body .box .small-box1 {
  width: 60%;
  height: 100%;
}
.dashboard .body .box .small-box {
  position: absolute;
  width: 35%;
  height: 100%;
  margin-left: 65%;
  background-color: black;
  border-radius: 15px;
}
.dashboard .body .box h1 {
  color: #fff;
  margin-left: 27%;
  padding-top: 50%;
}
.dashboard .body .project {
  margin-left: 20px;
  background-color: #fff;
}
.dashboard .body .project h2 {
  padding-left: 5%;
  padding-top: 3%;
  font-size: 18px;
  padding-bottom: 20px;
  color: black;
}
.dashboard .body .project .project-tab {
  border-collapse: collapse;
  width: 95%;
  font-size: 15px;
  margin-left: 30px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(168, 143, 143, 0.15);
  margin-bottom: 30px;
}
.dashboard .body .project .project-tab thead tr {
  background-color: black;
  color: white;
  text-align: left;
  font-weight: bold;
}
.dashboard .body .project table thead tr th {
  padding: 12px 15px;
}
.dashboard .body .project table tbody tr td {
  padding: 12px 15px;
}
.dashboard .body .project table tbody tr td a {
  text-decoration: none;
  color: black;
}
.dashboard .body .project .project-tab tbody tr {
  border-bottom: 1px solid #ddd;
}
.dashboard .body .project .project-tab tbody tr td {
  padding-left: 12px;
  font-size: 13px;
}
.dashboard .body .project .project-tab tbody tr td a {
  font-weight: bold;
}
.dashboard .body .project .project-tab tbody tr:nth-of-type(odd) {
  background-color: lightgray;
}
.dashboard .body .project .project-tab tbody tr:last-of-type {
  border-bottom: 3px solid black;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
  .dashboard .left {
    width: 100%;
    height: auto;
  }
  .dashboard .left a {
    margin-bottom: 10px;
  }
  .dashboard .body {
    width: 100%;
    height: auto;
  }
  .dashboard .body .header {
    width: 100%;
  }
  .dashboard .body .header .left {
    width: 30%;
  }
  .dashboard .body .header .left h4 {
    top: -10px;
    left: 20px;
  }
  .dashboard .body .main {
    flex-direction: column;
  }
  .dashboard .body .main .number,
  .dashboard .body .main .user,
  .dashboard .body .main .plan {
    width: 100%;
    margin: 10px;
  }
  .dashboard .body .main .number .fa-seedling {
    margin-top: 10px;
  }
  .dashboard .body .main .number h3 {
    bottom: 60px;
  }
  .dashboard .body .main .user .fa-globe {
    top: 10px;
    right: 50px;
  }
  .dashboard .body .main .user h3 {
    top: -20px;
  }
  .dashboard .body .box {
    width: 100%;
    height: 400px;
    margin: 10px;
  }
  .dashboard .body .box .small-box1 {
    width: 60%;
  }
  .dashboard .body .box .small-box {
    width: 40%;
  }
  .dashboard .body .project {
    margin: 10px;
  }
  .dashboard .body .project .project-tab {
    width: 100%;
    margin: 10px;
  }
}

/* Media Query for Tablet Devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .dashboard {
    flex-direction: row;
  }
  .dashboard .left {
    width: 300px;
    height: auto;
  }
  .dashboard .body {
    width: 100%;
    height: auto;
  }
  .dashboard .body .main {
    flex-direction: row;
  }
  .dashboard .body .main .number,
  .dashboard .body .main .user,
  .dashboard .body .main .plan {
    width: 30%;
    margin: 10px;
  }
  .dashboard .body .box {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .dashboard .body .project {
    margin: 10px;
  }
  .dashboard .body .project .project-tab {
    width: 100%;
    margin: 10px;
  }
}
