* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.dashboard {
  width: 100%;
  background-color: #f8f9fa;
  height: auto;
  display: flex;
  border-radius: 30px;
}
.dashboard .left {
  width: 400px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard .left h3 {
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
  color: rgb(1, 1, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: underline rgb(241, 221, 240);
  text-underline-offset: 20px;
}
.dashboard .left h3 img {
  width: 20%;
  object-fit: contain;
}
.dashboard .left .container {
  position: relative;
  bottom: 32%;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dashboard .left .container a {
  width: 100%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 18px;
}
.dashboard .left .container .dash {
  background-color: #fff;
  width: 180px;
  color: rgb(1, 1, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.dashboard .left .container .dash .fa-house {
  background-color: rgb(181, 9, 161);
  color: white;
}
.dashboard .left .container a .fa-solid {
  margin-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: rgb(181, 9, 161);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.dashboard .left .container a .fa-dollar-sign {
  margin-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: rgb(181, 9, 161);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}
.dashboard .body {
  width: 1400px;
  height: auto;
}
.dashboard .body .header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard .body .header .left {
  margin-left: 10px;
  margin-top: 40px;
}
.dashboard .body .header .left p {
  width: 100%;
  margin-left: 30px;
  color: gray;
  font-size: 15px;
}
.dashboard .body .header .left p span {
  color: rgb(1, 1, 1);
}
.dashboard .body .header .left h4 {
  position: relative;
  font-size: 18px;
  bottom: 46%;
  right: 44px;
}
.dashboard .body .header .right {
  margin-right: 5%;
  margin-top: 40px;
}
.dashboard .body .header .right .search {
  width: 230px;
  height: 39px;
  border-radius: 15px;
  background-color: #fff;
  color: rgb(1, 1, 1);
  padding-left: 30px;
  border: 5px grey;
}
.dashboard .body .header .right .bi-search {
  position: relative;
  right: 220px;
}
.dashboard .body .header .right a {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
}
.dashboard .body .header .right .fa-gear {
  margin-right: 20px;
}
.dashboard .body .main {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.dashboard .body .main .number {
  background-color: #fff;
  border-radius: 20px;
  width: 29%;
  height: 80px;
  margin-left: 30px;
}
.dashboard .body .main .number p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 18px;
  color: rgb(1, 1, 1);
}
.dashboard .body .main .number .fa-seedling {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: rgb(181, 9, 161);
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.dashboard .body .main .number h3 {
  position: relative;
  margin-left: 10%;
  color: rgb(1, 1, 1);
  font-size: 25px;
  font-weight: 700;
  bottom: 50px;
}
.dashboard .body .main .number h3 span {
  font-size: 13px;
  color: limegreen;
}
.dashboard .body .main .user {
  background-color: #fff;
  border-radius: 20px;
  width: 29%;
  height: 80px;
}
.dashboard .body .main .user .fa-globe {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: rgb(181, 9, 161);
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.dashboard .body .main .user h3 {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  bottom: 50px;
  margin-left: 10%;
  color: rgb(1, 1, 1);
}
.dashboard .body .main .user h3 span {
  font-size: 13px;
  color: limegreen;
}
.dashboard .body .main .user p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 18px;
  color: rgb(1, 1, 1);
}
.dashboard .body .main .plan {
  background-color: #fff;
  border-radius: 20px;
  width: 29%;
  height: 80px;
  margin-right: 20px;
}
.dashboard .body .main .plan .fa-clipboard-list {
  position: relative;
  top: -30px;
  margin-left: 80%;
  background-color: rgb(181, 9, 161);
  padding-top: 8px;
  color: #fff;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
}
.dashboard .body .main .plan p {
  margin-top: 10px;
  margin-left: 10%;
  line-height: 30px;
  font-size: 18px;
  color: rgb(1, 1, 1);
}
.dashboard .body .main .plan .child {
  margin-left: 10%;
}
.dashboard .body .main .plan button {
  position: relative;
  bottom: 45px;
  margin-right: 10px;
  height: 22px;
  width: 70px;
  border-radius: 15px;
  border: none;
  color: #fff;
  background-color: rgb(181, 9, 161);
}
.dashboard .body .box {
  position: relative;
  width: 95%;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
}
.dashboard .body .box .small-box {
  position: absolute;
  width: 35%;
  height: 100%;
  margin-left: 65%;
  background-color: rgb(181, 9, 161);
  border-radius: 15px;
}
.dashboard .body .box h1 {
  color: #fff;
  margin-left: 27%;
  padding-top: 50%;
}
.dashboard .body .project {
  margin-left: 20px;
  background-color: #fff;
}
.dashboard .body .project h2 {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 20px;
  color: rgb(181, 9, 161);
}
.dashboard .body .project .project-tab {
  border-collapse: collapse;
  width: 95%;
  font-size: 15px;
  margin-left: 30px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(168, 143, 143, 0.15);
  margin-bottom: 30px;
}
.dashboard .body .project .project-tab thead tr {
  background-color: rgb(181, 9, 161);
  color: white;
  text-align: left;
  font-weight: bold;
}
.dashboard .body .project table thead tr th {
  padding: 12px 15px;
}
.dashboard .body .project table tbody tr td {
  padding: 12px 15px;
}
.dashboard .body .project table tbody tr td a {
  text-decoration: none;
  color: black;
}
.dashboard .body .project .project-tab tbody tr {
  border-bottom: 1px solid #ddd;
}
.dashboard .body .project .project-tab tbody tr td {
  padding-left: 12px;
}
.dashboard .body .project .project-tab tbody tr:nth-of-type(odd) {
  background-color: rgb(252, 212, 252);
}
.dashboard .body .project .project-tab tbody tr:last-of-type {
  border-bottom: 3px solid rgb(181, 9, 161);
}

.dashboard .body .card-container {
  position: absolute;
  bottom: -30%;
  left: 40%;
  width: 30%;
  height: auto;
  background-color: rgb(252, 212, 252);
  border-radius: 20px;
}
#userCard {
  display: none;
}
.dashboard .body .card-container .card-header {
  background-color: rgb(181, 9, 161);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  height: 50px;
}
.dashboard .body .card-container .card-header h3 {
  margin-left: 35%;
  font-size: 30px;
}
.dashboard .body .card-container .card-content {
  line-height: 40px;
  margin-left: 20px;
}
.dashboard .body .card-container .card-content button {
  width: 30%;
  height: 35px;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
  margin-left: 30%;
  border: none;
  border-radius: 15px;
}
