* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.invest {
  width: 100%;
  background-color: #f8f9fa;
  height: auto;
  display: flex;
  border-radius: 30px;
}
.invest .left {
  width: 300px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(168, 143, 143, 0.15);
}
.invest .left .image {
  margin-top: 30px;
  width: 50%;
  height: 50px;
}
.invest .left .image img {
  width: 50%;
  object-fit: contain;
}
.invest .left .container {
  position: relative;
  bottom: 32%;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.invest .left .container a {
  width: 100%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 15px;
}
.invest .left .container .dash {
  background-color: lightgrey;
  width: 180px;
  color: rgb(1, 1, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.invest .left .container .dash .fa-dollar-sign {
  background-color: black;
  color: white;
}
.invest .left .container a .fa-solid {
  margin-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.invest .body {
  width: 1200px;
  height: auto;
}
.invest .body .header .right {
  margin-left: 30%;
  margin-top: 50px;
}
.invest .body .header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.invest .body .header .left {
  margin-left: 10px;
  margin-top: 40px;
}
.invest .body .header .left h2 {
  width: 100%;
  margin-left: 30px;
  color: black;
}
.invest .body .header .right {
  margin-right: 5%;
  margin-top: 40px;
}
.invest .body .header .right .search {
  width: 350px;
  height: 39px;
  border-radius: 15px;
  background-color: #fff;
  color: rgb(1, 1, 1);
  padding-left: 30px;
  border: 5px grey;
}
.invest .body .header .right .bi-search {
  position: relative;
  right: 340px;
}
.invest .body .header .right a {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  color: gray;
}
.invest .body .header .right .fa-gear {
  margin-right: 20px;
}
.invest .main {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invest .main .users {
  border-collapse: collapse;
  width: 95%;
  font-size: 15px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.invest .main .users thead tr {
  background-color: black;
  color: white;
  text-align: left;
  font-weight: bold;
}
.invest .main .users thead tr th {
  padding: 12px 15px;
}
.invest .main .users tbody tr td {
  padding: 12px 15px;
  font-size: 15px;
  font-weight: lighter;
}
.invest .main .users tbody tr td a {
  font-weight: bold;
}
.invest .main .users tbody tr {
  border-bottom: 1px solid #ddd;
  color: black;
}
.invest .main .users tbody tr:nth-of-type(odd) {
  background-color: #f5f6f8;
}
.invest .main .users tbody tr:nth-of-type(even) {
  background-color: #fff;
}
.invest .main .users tbody tr:last-of-type {
  border-bottom: 3px solid black;
}

@media only screen and (max-width: 768px) {
  .invest {
    flex-direction: column;
  }
  .invest .left {
    width: 100%;
    height: auto;
  }
  .invest .left a {
    margin-bottom: 20px;
  }
  .invest .left h3 {
    margin-bottom: 20px;
  }
  .invest .body {
    width: 100%;
    height: auto;
  }
  .invest .body .header {
    flex-direction: column;
  }
  .invest .body .header .left {
    width: 30%;
    margin-left: 0;
  }
  .user .body .header .right {
    margin-right: 0;
  }
  .invest .main {
    flex-direction: column;
    margin-top: 40px;
  }

  .invest .main .users {
    width: 100%;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 80%;
  }
  .card .cardTitle {
    height: 80px;
  }
  .card button {
    width: 80%;
  }
}
