* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.login {
  width: 100%;
  height: auto;
  background-color: #f5f6f8;
}
.login .header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.login .header .image {
  width: 30%;
  height: 100%;
  position: relative;
  bottom: 60%;
}
.login .header .image img {
  width: 100%;
}
.login .parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
}
.login .parent .main {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login .parent .main h3 {
  color: rgb(87, 16, 16);
  font-weight: lighter;
}
.login .parent .formContainer {
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.login .parent .formContainer .enter {
  font-size: 15px;
  margin-left: 20px;
  color: gray;
  margin-top: 30px;
  margin-bottom: 20px;
}
.login .parent .formContainer label {
  margin-left: 20px;
  line-height: 35px;
  color: gray;
  font-size: 15px;
}
.login .parent .formContainer input {
  margin-left: 20px;
  width: 90%;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
}
.login .parent .formContainer .note {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login .parent .formContainer .note #check {
  width: 15px;
  margin-right: 10px;
}
.login .parent .formContainer .note p {
  font-size: 15px;
  color: gray;
  font-weight: 600;
}
.login .parent .formContainer button {
  margin-left: 20px;
  width: 90%;
  height: 40px;
  background-color: rgb(87, 16, 16);
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
.login .parent .formContainer .sign {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  color: gray;
}
.login .parent .formContainer .sign a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  color: gray;
}
.login .parent .foot {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  color: grey;
  text-align: left;
  padding-left: 40px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .login {
    flex-direction: column;
  }
  .login .header {
    width: 100%;
    margin-left: 0;
  }
  .login .header .first {
    margin-left: 0px;
    width: 20%;
  }
  .login .header .second {
    margin-right: 0px;
    width: 70%;
  }
  .login .parent {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .login .parent .left {
    width: 100%;
    height: auto;
  }
  .login .parent .right {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(
      to right,
      rgb(224, 92, 218),
      rgb(187, 0, 178),
      rgb(181, 9, 161)
    );
  }
}
