* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.login .header {
  width: 80%;
  height: 80px;
  position: absolute;
  background-color: #fefefe;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-top: 30px;
  border-radius: 30px;
}
.login .header .first {
  width: 30%;
  margin-left: 20px;
}
.login .header h2 {
  font-size: 20px;
}
.login .header h2 img {
  width: 10%;
  height: fit-content;
}
.login .header .second {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .header .free {
  margin-right: 20px;
  width: 15%;
  height: 40px;
  background-image: linear-gradient(
    to left,
    rgb(48, 52, 78),
    rgb(77, 37, 58),
    rgb(21, 25, 41)
  );
  color: #fff;
  font-weight: bolder;
  border-radius: 20px;
}
.login .header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 44, 80);
}
.login .header a i {
  margin-right: 5px;
}
.login .parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.login .parent .left {
  width: 70%;
  height: 90%;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login .parent .left h3 {
  width: 50%;
  margin-left: 0%;
  margin-bottom: 10px;
  font-size: 35px;
  margin-top: 15%;
  color: rgb(181, 9, 161);
}
.login .parent .left .enter {
  width: 70%;
  color: grey;
  font-weight: 600;
  margin-left: 20%;
  margin-bottom: 10px;
}
.login .parent .left form {
  width: 70%;
  margin-left: 20%;
  margin-bottom: 20px;
}
.login .parent .left form label {
  line-height: 30px;
  color: rgb(21, 25, 41);
  font-weight: bolder;
}
.login .parent .left form input {
  margin-bottom: 20px;
  width: 55%;
  height: 40px;
  padding-left: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}
.login .parent .left form .note {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login .parent .left form .note p {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-bottom: 20px;
  color: gray;
}

.login .parent .left form .note #check {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.login .parent .left form button {
  width: 55%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(181, 9, 161);
  color: white;
  border: none;
}
.login .parent .left .sign {
  margin-right: 13%;
  color: grey;
}
.login .parent .left .sign a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(181, 9, 161);
}
.login .parent .right {
  width: 30%;
  background-image: linear-gradient(
    to right,
    rgb(224, 92, 218),
    rgb(187, 0, 178),
    rgb(181, 9, 161)
  );
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .parent .right .container {
  font-size: 35px;
  color: #fff;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .login {
    flex-direction: column;
  }
  .login .header {
    width: 100%;
    margin-left: 0;
  }
  .login .header .first {
    margin-left: 0px;
    width: 20%;
  }
  .login .header .second {
    margin-right: 0px;
    width: 70%;
  }
  .login .parent {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .login .parent .left {
    width: 100%;
    height: auto;
  }
  .login .parent .right {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(
      to right,
      rgb(224, 92, 218),
      rgb(187, 0, 178),
      rgb(181, 9, 161)
    );
  }
}
