* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.signin {
  width: 100%;
  height: 800px;
}
.signin .container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.signin .container .parent {
  width: 100%;
  height: 75%;
  background-image: linear-gradient(
    to left,
    rgb(197, 0, 178),
    rgba(151, 3, 134, 0.733),
    rgb(181, 9, 161)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.signin .container .parent .header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.signin .container .parent .header .first {
  width: 30%;
  margin-left: 40px;
  margin-top: 30px;
}
.signin .container .parent .header h2 {
  font-size: 20px;
  color: #fff;
}
.signin .container .parent .header h2 img {
  width: 10%;
  height: fit-content;
}
.signin .container .parent .header .second {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.signin .container .parent .header .free {
  margin-right: 20px;
  width: 18%;
  height: 35px;
  background-color: #fff;
  color: rgba(151, 3, 134, 0.733);
  border: none;
  font-weight: bolder;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 20px;
}
.signin .container .parent .header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.signin .container .parent .header a i {
  margin-right: 5px;
}
.signin .container .parent .top {
  position: relative;
  bottom: 10%;
}
.signin .container .parent .top h1 {
  color: #fff;
  margin-left: 95px;
  font-size: 30px;
}
.signin .container .parent .top p {
  color: #fff;
  line-height: 35px;
  font-size: 15px;
}
.signin .container .parent .top .use {
  margin-left: 12px;
}
.signin .container .midd {
  background-color: #fff;
  width: 30%;
  height: auto;
  position: absolute;
  bottom: -310px;
  left: 35%;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.signin .container .midd .reg {
  margin-left: 38%;
  margin-bottom: 10px;
  margin-top: 10%;
  color: rgb(1, 1, 1);
  font-size: 18px;
  font-weight: bold;
}
label {
  margin-left: 20px;
  line-height: 35px;
  font-size: 15px;
}
input {
  margin-left: 20px;
  width: 89%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid gray;
  padding-left: 5px;
}
.signin .container .midd form .note {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signin .container .midd .note p {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: gray;
}

.signin .container .midd form .note #check {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  margin-left: 20px;
  width: 89%;
  height: 35px;
  border-radius: 8px;
  background-color: rgb(181, 9, 161);
  color: white;
  border: none;
  margin-bottom: 30px;
}
.signin .container .midd .have {
  margin-left: 21.5%;
  margin-bottom: 30px;
  font-size: 15px;
  color: gray;
}
.signin .container .midd .have a {
  text-decoration: none;
  color: rgb(181, 9, 161);
  font-weight: bolder;
}
.foot {
  margin-top: 150px;
  width: 100%;
  text-align: right;
  font-size: 13px;
  color: gray;
}
